---
layout: default 
title: Micha3lb3n's blog
---

	<head>
		<title>Micha3lb3n's blog !</title>
	</head>
	<style>
		html {
		scroll-behavior: smooth;
		}
		.pagination a, .pagination span {
			padding: 7px 18px;
			border: 1px solid #eee;
			margin-left: -2px;
			margin-right: -2px;
			background-color: #ffffff;
			display: inline-block;
		}

		.pagination a {    
			&:hover {
				background-color: #f1f1f1;
				color: #333;
			}
		}

		.pagination {
			text-align: center;
		}
	</style>


	<header id="header" class="alt">
		<a href="#nav">Menu</a>
	</header>

	<nav id="nav">
		<ul class="links">
			<li><a href="/">Home</a></li>
		</ul>
	</nav>


	<section id="banner">
		<!--
		<i class="icon fa-diamond"></i>
		<h2>Michaelben's blog</h2>
		<p>Hack for good !</p>
		
		<ul class="actions">
			<li><a href="#bugs" class="button big special">Psst..read below !</a></li>
		</ul>
		-->
		
		<section id="banner">
            <h2 style="text-transform: none; font-size: 35px">
                Harinarayanan K S
            </h2>
            <p style="text-transform: none; margin-top: 50px">
                <i>Wannabe Bug Hunter</i>
            </p>

            <ul class="actions">
                <li>
                    <p id="music-info" style="text-transform: none"></p>
                </li>

                <br /><br />

                <a href="https://github.com/micha3lb3n">
                    <img
                        src="/assets/images/github.png"
                        height="52"
                        width="52"
                    />
                </a>

                <a
                    href="https://open.spotify.com/user/fvy25dqvxdbtydr120ufb150u"
                >
                    <img
                        src="/assets/images/spotify.png"
                        style="margin-left: 10px"
                        height="52"
                        width="52"
                    />
                </a>
            </ul>
        </section>

	</section>

	<section id="bugs" class="wrapper style1">
		<div class="inner" id="inner">
			{% for post in paginator.posts %}			
				<article class="feature right" onclick="window.document.location='{{ post.url }}'" style="cursor: pointer;">
					<span class="image"><img src="{{ post.image }}" alt="" /></span>
					<div class="content">
						<h2 style="font-size: 30px;">{{ post.title }}</h2>
						<div style="color:#0067a3;">
							{{ post.date_only }}
							<br />
							~{{ post.reading_time }}
						</div>
						<br>
						<p>{{ post.description }}</p>
						<ul class="actions">
							<li>
								<a href="{{ post.url }}" class="button alt">More</a>
							</li>
						</ul>
					</div>
				</article>				
			{% endfor %}	
		</div>
		{% if paginator.total_pages > 1 %}
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
				{% else %}
					<span>&laquo; Prev</span>
				{% endif %}

				{% for page in (1..paginator.total_pages) %}
					{% if page == paginator.page %}
						<span class="webjeda">{{ page }}</span>
					{% elsif page == 1 %}
						<a href="/">{{ page }}</a>
					{% else %}
						<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
					{% endif %}
				{% endfor %}

				{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
				{% else %}
					<span>Next &raquo;</span>
				{% endif %}
			</div>
		{% endif %}
	</section>
	<script>
            var xmlHttp = new XMLHttpRequest();
            var url =
                "https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=helloThere1233&api_key=393f1ddd6d7ae9f30ea41b7714115535&format=json&limit=1&nowplaying=true";
            // API key not sensitive 😂
            xmlHttp.open("GET", url, false);
            xmlHttp.send(null);

            const response = JSON.parse(xmlHttp.responseText);

            const tracks = response["recenttracks"]["track"];

            let nowPlaying = tracks.length > 1 ? true : false;

            const track = tracks[0];

            const artist = track["artist"]["#text"];
            const song = track["name"];

            let musicInfo = nowPlaying
                ? "I am listening to "
                : "I was listening to ";

            musicInfo +=
                "<br><p style='margin-top: 20px; font-size: 20px;'>" +
                song +
                " by " +
                artist +
                "</p>";

            $("#music-info").append(musicInfo);
        </script>
	
