---
layout: default 
title: Micha3lb3n's blog
---

	<head>
		<title>Micha3lb3n's blog !</title>
	</head>
	<style>
		html {
		scroll-behavior: smooth;
		}
		.pagination a, .pagination span {
			padding: 7px 18px;
			border: 1px solid #eee;
			margin-left: -2px;
			margin-right: -2px;
			background-color: #ffffff;
			display: inline-block;
		}

		.pagination a {    
			&:hover {
				background-color: #f1f1f1;
				color: #333;
			}
		}

		.pagination {
			text-align: center;
		}
	</style>


	<header id="header" class="alt">
		<a href="#nav">Menu</a>
	</header>

	<nav id="nav">
		<ul class="links">
			<li><a href="/">Home</a></li>
		</ul>
	</nav>


	<section id="banner">
		<i class="icon fa-diamond"></i>
		<h2>Michaelben's blog</h2>
		<p>Hack for good !</p>
		
		<ul class="actions">
			<li><a href="#bugs" class="button big special">Psst..read below !</a></li>
		</ul>

	</section>

	<section id="bugs" class="wrapper style1">
		<div class="inner" id="inner">
			{% for post in paginator.posts %}			
				<article class="feature right">
					<span class="image"><img src="{{ post.image }}" alt="" /></span>
					<div class="content">
						<h2 style="font-size: 30px;">{{ post.title }}</h2>
						<div style="color:#0067a3;">
							{{ post.date_only }}
							<br />
							~{{ post.reading_time }}
						</div>
						<br>
						<p>{{ post.description }}</p>
						<ul class="actions">
							<li>
								<a href="{{ post.url }}" class="button alt">More</a>
							</li>
						</ul>
					</div>
				</article>				
			{% endfor %}	
		</div>
		{% if paginator.total_pages > 1 %}
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
				{% else %}
					<span>&laquo; Prev</span>
				{% endif %}

				{% for page in (1..paginator.total_pages) %}
					{% if page == paginator.page %}
						<span class="webjeda">{{ page }}</span>
					{% elsif page == 1 %}
						<a href="/">{{ page }}</a>
					{% else %}
						<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
					{% endif %}
				{% endfor %}

				{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
				{% else %}
					<span>Next &raquo;</span>
				{% endif %}
			</div>
		{% endif %}
	</section>
	
	
