<!DOCTYPE html>
<html>
    <head>
        <link
            rel="icon"
            href="/assets/images/ben_10.jpg"
            type="image/gif"
            sizes="16x16"
            class="img-circle"
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-166915800-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-166915800-1");
        </script>

        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>

    <body class="landing" style="background-color: #eee">
        <header id="header" class="alt">
            <a href="#nav" style="color: black">Menu</a>
        </header>

        <nav id="nav">
            <ul class="links">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>

        {{ content }}

        <br /><br />

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/skel.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
