<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>

	<body class="landing">

		<header id="header" class="alt">
			<a href="#nav" style="color: black">Menu</a>
		</header>

		<nav id="nav">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
		</nav>

		{{ content }}
	


		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="#" class="icon fa-facebook">
						<span class="label">Facebook</span>
					</a></li>
					<li><a href="#" class="icon fa-twitter">
						<span class="label">Twitter</span>
					</a></li>
					<li><a href="#" class="icon fa-instagram">
						<span class="label">Instagram</span>
					</a></li>
					<li><a href="#" class="icon fa-linkedin">
						<span class="label">LinkedIn</span>
					</a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled.</li>
					<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
				</ul>
			</div>
		</footer>


		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
</body>

</html>