<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script data-ad-client="ca-pub-5774929704937330" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166915800-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-166915800-1');
		</script>

	</head>

	<body class="landing">

		<header id="header" class="alt">
			<a href="#nav" style="color: black">Menu</a>
		</header>

		<nav id="nav">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<!--
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
				-->
			</ul>
		</nav>

		{{ content }}
	


		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="https://github.com/micha3lb3n" target="_blank" class="icon fa-github">
						<span class="label">Github</span>
					</a></li>
					<li><a href="https://www.twitter.com/micha3lb3n" target="_blank" class="icon fa-twitter">
						<span class="label">Twitter</span>
					</a></li>
				</ul>
				<ul class="copyright">
					<li><b>&copy; 2020 Michaelben</b></li>					
				</ul>
			</div>
		</footer>


		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
</body>

</html>